<section id="sign_in_section" class="parallax parallax_one animatedParent " data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row" style="margin-bottom: 50px">
        <div class="col-xs-12">
            <div class="text-center section_head_widget animatedParent ">
              <h2 class="animated fadeInLeft">Zmiana hasła</h2>
            </div>
        </div>
    </div>
    <div class="contactFormWrapper ">
      <%= form_for(@user, url: site_password_path, validate: true, remote: true, html: { id: "sessionform" }) do |f| %>
          <div class="row">
            <div class="col-md-6">
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: t('site.new_password') %>
            </div>
            <div class="col-md-6">
                <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: t('site.confirm_new_password') %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
                <% if @minimum_password_length %>
                    <em>(<%= t('site.characters_minimum', count: @minimum_password_length) %>)</em><br />
                <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-lg-4">
              <%= f.submit t('site.change_my_password'), class: "btn btn_buy_ticket", 'data-remote': true %>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>