<div class="rock_player pre_sticky">
    <div class="sticky_player" data-sticky="true">
        <div class="play_list">
        <div class="list_scroll">
            <div class="container ">
            <ul class="music_widget player_data">
                <li class="music_row_header">
                    <div class="column_one"> # </div>
                    <div class="column_two"> &nbsp; 
                    </div>
                    <div class="column_three"> <%= t('site.track_name') %> </div>
                    <!-- <div class="column_four"> genre </div> -->
                    <div class="column_five"> <%= t('site.artist') %> </div>
                    <div class="column_six"> <%= t('site.length') %> </div>
                    <div class="column_seven"> &nbsp;
                    </div>
                    <div class="column_eight">
                    </div>
                </li>
                <% @tracks&.each_with_index do |track, index| %>
                    <li class="music_row">
                        <div class="column_one track_index"><%= index %></div>
                        <div class="column_two track_thumb"><%= track.album.cover.url %></div>
                        <div class="column_three track_title"><%= track.title %></div>
                        <!-- <div class="column_four track_genre"></div> -->
                        <div class="column_five track_composer"><%= track.artist %></div>
                        <div class="column_six track_length"><%= Time.at(track.length_in_seconds).utc.strftime("%M:%S") %></div>
                        <div class="column_seven"> 
                            <a class="play_it" href="#">
                                <span class="fa fa-play"></span>
                            </a> 
                            <!--<a href="#">
                                <span class="fa fa-plus"></span>
                            </a> -->
                            <a class="itunesLink" href="#">
                                <span class="fa fa-download"></span>
                            </a> 
                        </div>
                        <div class="column_eight"> 
                            <% if track.url %>
                                <a class="btn btn_watch_video" href="<%= track.url %>" style="margin: 0">
                                    <%= t('site.watch_video') %>
                                </a>
                            <% end %> 
                        </div>
                    </li>
                <% end %>
            </ul>
            </div>
        </div>
        </div>
        
        <div class="jp-playlist hidden"> 
            <ul class=" playlist-files">
                <% @tracks&.each do |track| %>
                    <li 
                        data-thumb="<%= track.album.cover.url %>"
                        data-title="<%= track.title %>"
                            data-genre=""  
                        data-artist="<%= track.artist %>" 
                        data-length="<%= Time.at(track.length_in_seconds).utc.strftime("%M:%S") %>" 
                        data-itunes="<%= download_track_url(track) %>" 
                        data-video="<%= track.url %>" 
                        data-mp3="<%= track.audio_file.url %>">
                    </li>
                <% end %>
            </ul>
        </div>
        <div class="container player_wrapper" id="player">
            <div class="row">
                <div id="player-instance" class="jp-jplayer"></div>
                <div class="jp-title audio-title"><%= t('site.nothing_to_show') %></div>
                <div class="rock_controls controls">
                <div  class="fa fa-play jp-play"></div>
                <div  class="fa fa-pause jp-pause"></div>
                </div>
                <div class="audio-progress">
                    <div class="jp-seek-bar">
                        <div class="audio-play-bar jp-play-bar" style="width:20%;"></div>
                    </div>
                </div>
                <div class="audio-timer"> <span class="jp-current-time">00:00</span> </div>
                <div class="jp-volume">
                <ul>
                    <li class="active"><a href="#"></a></li>
                    <li class="active"><a href="#"></a></li>
                    <li class="active"><a href="#"></a></li>
                    <li class="active"><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
                </div>
                <a href="#" class="playlist_expander fa fa-bars"></a> 
            </div>
        </div>
    </div>
</div>